.circle-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
  gap: 10px;
}

.circle-button-label {
  position: relative;
  background: #433e3e;
  padding: 5px 20px;
  margin-top: 5px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgb(55, 55, 55);
  border-left: 2px solid rgb(84, 82, 82);
  border-right: 2px solid rgb(86, 85, 85);
  border-top: 0px;
  box-shadow: rgb(49, 52, 55) 0px 10px 30px -10px;
}

.circle-button-casing {
  position: relative;
  background: rgb(210, 204, 204);
  background: linear-gradient(
    160deg,
    rgb(144, 139, 139) 13%,
    rgb(105, 101, 101) 43%
  );
  border-radius: 50%;
  height: min-content;
  margin-top: 5px;
  box-shadow: rgb(49, 52, 55) 0px 15px 30px -10px;
}

.circle-button-casing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(68, 66, 66);
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.circle-button-casing::after {
  content: "";
  position: absolute;
  bottom: 12%;
  right: 4%;
  background: inherit;
  height: 90%;
  width: 94%;
  border-radius: 50%;
}

.circle-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 6px;
  background-color: #64886d;
  border: 6px solid #3d443d;
  border-left: 2px solid #344034;
  border-right: 2px solid #344034;
  border-top: 0px;
  z-index: 2;
}

.circle-button::after {
  content: "";
  position: absolute;
  top: 12%;
  left: 4%;
  right: 2%;
  background-color: inherit;
  height: 88%;
  width: 96%;
  border-radius: 50%;
}

.circle-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a5ac8e;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.circle-button:active {
  border-bottom: 2px;
  height: 38px;
  border: 2px solid #344034;
  border-top: 2px solid rgb(67, 68, 66);
  margin-bottom: 12px;
}

.circle-button:active::before {
  display: none;
}
