:root {
  --dark: #39383c;
  --slightly-dark: #3e3c43;
  --switch: rgb(109, 101, 99);
  --switch-accent: rgb(79, 69, 67);
  --switch-on: hsl(107, 40%, 50%);
  --switch-off: hsl(0, 40%, 51%);
  --text-on: #fff;
  --text-off: #ddd;
}

.power {
  margin-top: -12px;
}

.rocker {
  display: inline-block;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4rem;
  overflow: hidden;
  border-bottom: 0.25rem solid var(--dark);
  border-radius: 3px;
}
.left {
  box-shadow: rgb(49, 52, 55) -15px 15px 30px -10px;
}

.right {
  box-shadow: rgb(49, 52, 55) 15px 15px 30px -10px;
}

.rocker-small {
  font-size: 1rem; /* Sizes the switch */
}

.rocker::before {
  content: "";
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--slightly-dark);
  border: 0.25rem solid var(--dark);
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  transition: 100ms;
}

.switch-left {
  height: 3rem;
  width: 3rem;
  left: 0.9rem;
  bottom: 0.3rem;
  border-radius: 5px 0px 0px 5px;
  background-color: var(--switch);
  transform: rotate(15deg) skewX(15deg);
}

@keyframes flashingRed {
  0% {
    background-image: var(--switch);
  }
  50% {
    background-image: radial-gradient(
      at right,
      var(--switch-off) 0%,
      var(--switch) 75%
    );
  }
  100% {
    background-image: var(--switch);
  }
}

.switch-right {
  border-radius: 0px 5px 5px 0px;
  right: 0.3rem;
  bottom: 0;
  background-color: var(--switch);
  background-image: radial-gradient(
    at right,
    var(--switch-on) 0%,
    var(--switch) 75%
  );
  color: #fff;
}

input:checked + .switch-left + .switch-right {
  background-image: none;
}
.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.7em;
  height: 3rem;
  bottom: -0.75em;
  background-color: var(--switch-accent);
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.7em;
}

.switch-right::before {
  right: -0.7em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: var(--switch);
  color: #fff;
  bottom: 0px;
  left: 0.3em;
  height: 3rem;
  width: 3rem;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: var(--switch);
  color: #fff;
  bottom: 0.3rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  transform: rotate(-15deg) skewX(-15deg);
  animation: flashingRed 3s infinite;
}

input:checked + .switch-left + .switch-right::before {
  background-color: var(--switch-accent);
}

/* Keyboard Users */
input:focus + .switch-left {
  color: var(--text-off);
}

input:checked:focus + .switch-left {
  color: var(--text-on);
}

input:focus + .switch-left + .switch-right {
  color: var(--text-on);
}

input:checked:focus + .switch-left + .switch-right {
  color: var(--text-off);
}
