.screen {
  flex-grow: 1;
  position: relative;
  background: linear-gradient(
    rgba(29, 30, 29),
    rgb(21, 43, 13),
    rgb(29, 30, 29)
  );
  background-size: 100% 200%;
  animation: gradientAnimation 5s ease-in infinite;
  height: 100%;
  color: hsl(108, 100%, 50%);
  text-shadow: 1px 1px 8px hsla(108, 100%, 50%, 0.5);
  border-radius: 50% / 3%;
  z-index: 2;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 200% -200%;
  }
}

.off {
  background: linear-gradient(
    180deg,
    rgba(45, 47, 43, 1) 0%,
    rgba(33, 31, 31, 1) 50%
  ) !important;
}

.screen:after {
  position: absolute;
  content: "";
  top: 3%;
  bottom: 3%;
  right: -2%;
  left: -2%;
  background: inherit;
  border-radius: 2% / 50%;
  z-index: -2;
}

.screen:before {
  content: " ";
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 12px;
  border-radius: 50% / 3%;
  z-index: 1;
  pointer-events: none;
}

.off::before {
  background: none !important;
}

.screen-flash {
  background: rgb(28, 28, 28);
  height: 100%;
  width: 100%;
  border-radius: 50% / 3%;
  z-index: 4;
}
.screen-flash:after {
  position: absolute;
  content: "";
  top: 3%;
  bottom: 3%;
  right: -2%;
  left: -2%;
  background: inherit;
  border-radius: 2% / 50%;
  z-index: -1;
}

.screen-content {
  height: 95%;
  padding-left: 12px;
  padding-top: 12px;
  opacity: 0.6;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 95%;
}

.screen-logo {
  position: absolute;
  height: 130px;
  width: 150px;
  right: 15px;
  top: 10px;
  background: url(unicomp_logo.svg);
  background-size: contain;
  opacity: 0.8;
}

.screen-logo::after {
  text-align: right;
  position: absolute;
  width: 100%;
  bottom: -30%;
  right: 5%;
  content: "VENOGRAPH TECHNOLOGIES";
  color: #33ff00;
}

.screen-text {
  width: 95%;
  overflow: auto;
}

.screen-text::-webkit-scrollbar {
  width: 10px;
  position: absolute;
  left: 20px;
}

.screen-text::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.screen-text::-webkit-scrollbar-thumb {
  background: #47d423;
}

/* Handle on hover */
.screen-text::-webkit-scrollbar-thumb:hover {
  background: #33ff00;
}

.screen-line {
  text-align: left;
  max-width: 100%;
  overflow: hidden;
  white-space: pre;
  flex-shrink: 0;
  animation: appearCharByChar 500ms steps(30) forwards;
}

@keyframes appearCharByChar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .screen {
    font-size: 20px;
  }
}

@media (max-width: 730px) {
  .screen-logo {
    display: none;
  }
}
