.screen {
  position: relative;
  background: linear-gradient(
    rgba(8, 8, 8, 1),
    rgb(21, 36, 15),
    rgba(8, 8, 8, 1)
  );
  background-size: 100% 200%;
  animation: gradientAnimation 5s ease-in infinite;
  height: 400px;
  color: #33ff00;
  border-radius: 50% / 3%;
  z-index: 2;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 200% -200%;
  }
}

.screen:after {
  position: absolute;
  content: "";
  top: 3%;
  bottom: 3%;
  right: -2%;
  left: -2%;
  background: inherit;
  border-radius: 2% / 50%;
  z-index: -2;
}

.screen-flash {
  background: black;
  height: 100%;
  width: 100%;
  border-radius: 50% / 3%;
  z-index: 4;
}
.screen-flash:after {
  position: absolute;
  content: "";
  top: 3%;
  bottom: 3%;
  right: -2%;
  left: -2%;
  background: inherit;
  border-radius: 2% / 50%;
  z-index: -1;
}

.screen-content {
  height: 400px;
  padding: 20px;
  opacity: 0.8;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.screen-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.screen-line {
  max-width: 100%;
  overflow: hidden;
  animation: appearCharByChar 250ms steps(30) forwards;
}

@keyframes appearCharByChar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
