.terminal-input {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  padding: 4px;
}

input {
  flex-grow: 1;
  background: none;
  box-shadow: none;
  font-family: "MyFont";
  color: #33ff00;
  font-size: 20px;
  border: none;
  outline: none;
  caret-shape: block;
}
