.zylex-portrait {
  opacity: 0.4;
  overflow: hidden;
  border-radius: 50% / 3%;
}

.side-screen {
  flex-grow: 1;
  position: relative;
  background: linear-gradient(
    rgba(29, 30, 29),
    rgb(21, 43, 13),
    rgb(29, 30, 29)
  );
  background-size: 100% 200%;
  animation: gradientAnimation 5s ease-in infinite;
  color: hsl(108, 100%, 50%);
  text-shadow: 1px 1px 8px hsla(108, 100%, 50%, 0.5);
  border-radius: 50% / 3%;
  z-index: 2;
}
.off {
  background: rgb(28, 28, 28);
}

.side-screen:after {
  position: absolute;
  content: "";
  top: 3%;
  bottom: 3%;
  right: -2%;
  left: -2%;
  background: inherit;
  border-radius: 2% / 50%;
  z-index: -2;
}

.side-screen:before {
  content: " ";
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 12px;
  border-radius: 50% / 3%;
  z-index: 1;
  pointer-events: none;
}

.off::before {
  background: none;
}

.side-screen-border {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(41, 38, 41, 1) 0%,
    rgba(70, 69, 71, 1) 12%
  );
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 50% / 3%;
  z-index: 2;
  margin-top: 12%;
  margin-left: 5%;
  height: fit-content;
}

.side-screen-border:before {
  position: absolute;
  content: "";
  top: 3%;
  bottom: 3%;
  right: -2%;
  left: -2%;
  background: inherit;
  border-radius: 2% / 50%;
  z-index: -1;
}
.side-screen-border:after {
  position: absolute;
  content: "";
  top: 94%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background: #9c9599;
  border-radius: 50%;
}
