.zylex-portrait {
  opacity: 0.5;
  overflow: hidden;
  border-radius: 50% / 3%;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.side-screen {
  width: 90%;
  min-height: 50%;
  max-height: 70%;
}

img {
  height: 95%;
  width: 95%;
}

.zylex-loading-text {
  padding: 20px;
  text-align: left;
  opacity: 0.6;
  height: 95%;
  width: 95%;
}

.hiding-zylex {
  opacity: 0;
}
