.zylex-typing {
  opacity: 0;
  text-align: left;
  overflow: hidden;
  white-space: pre;
  animation: fadeIn 400ms ease-in-out forwards;
  animation-delay: 800ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
