.App {
  text-align: center;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(192, 192, 192, 1) 46%,
    rgba(141, 140, 175, 1) 90%
  );
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 100%;
  display: flex;
  min-height: 600px;
  height: 95%;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 500px) {
  .dashboard {
    width: 115%;
    height: 110%;
    margin-top: -10%;
    margin-bottom: -10%;
  }
}
@media (max-width: 380px) {
  .dashboard {
    height: 110%;
    margin-top: -13%;
    margin-bottom: -10%;
  }
}
