body {
  margin: 0;
  font-family: "MyFont";
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "MyFont";
  src: url(./fonts/VT323-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "roboto-black";
  src: url(./fonts/Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: "roboto-bold";
  src: url(./fonts/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url(./fonts/Roboto-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url(./fonts/Roboto-Regular.ttf) format("truetype");
}
