body {
  margin: 0;
  font-family: "MyFont";
  font-size: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "MyFont";
  src: url(./fonts/VT323-Regular.ttf) format("truetype");
}
